<template>
  <input type="hidden" name="avatar[haircut]" v-model="value">

  <% Avatar.haircut_names.each do |haircut, name| %>
    <%= content_tag :div, class: :avatar, '@click': "value = #{haircut.to_json.html_safe}" do %>
      <div class="avatar__haircut avatar__haircut--{{name}}"></div>
      <div class="avatar__haircut-bangs avatar__haircut-bangs--{{name}}"></div>
    <% end %>
  <% end %>
</template>

<script>
export default {
  props: ['value'],

  watch: {
    value: function(value) {
      this.$emit('change', value)
    }
  }
}
</script>
