.avatars-index

  &__head
    display: flex
    align-items: center
    justify-content: center
    width: 100%

  &__title
    color: $white
    font-size: 25px
    font-weight: 700
    flex-grow: 0
    flex-shrink: 0
    text-transform: uppercase
    margin: 45px 0 55px 0
    letter-spacing: 1px
    display: none
    &--active
      display: block

  &__steps
    display: flex
    align-items: center
    justify-content: center

  &__step
    flex: 1
    background: $orange
    color: $white
    text-align: center
    margin: 0 2px
    padding: 5px 0
    font-size: 12px
    letter-spacing: 1px
    &:first-child, &:last-child
      margin: 0
    &--active
      background: $white
      color: $dark-blue
      font-weight: 600

  &__content
    position: absolute
    width: calc(100% - 20px)
    height: calc(100% - 165px)
    display: flex
    align-items: center
    justify-content: center

  &__properties
    width: 50%
    height: 100%
    background: $dark-blue
    position: relative
    display: flex
    justify-content: center
    align-items: center

  &__list
    height: 450px
    width: 300px
    overflow: scroll
    display: none
    &--active
      display: block
    &::-webkit-scrollbar
        width: 0px
        background: transparent

  &__item
    background: $white
    border-radius: 50%
    width: 100px
    height: 100px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    float: left
    margin: 25px

    &--choice
      border: 5px solid $orange

  &__eye, &__mouth, &__skin, &__sweater, &__accessory, &__face, &__haircut
    width: 100%
    height: 100%
    top: 0px
    left: 0px
    position: absolute

  &__eye
    background-size: 200%
    background-position: 50% 25%

  &__mouth
    background-size: 250%
    background-position: 49% 55%

  &__skin-color, &__sweater-color
    width: 110px
    height: 110px

  &__accessory
    background-size: 150%
    background-position: 50% 25%

  &__result
    width: 50%
    height: 100%
    background: $white

  .characteristic
    opacity: 0
    visibility: hidden

    &__face
      display: none

      &--active
        display: block

    &--active
      opacity: 1
      visibility: visible

  &__radio-button
    width: 100px
    height: 100px
    z-index: 10
    opacity: 0
