<div class="home">
  <div class="home__content">
    <div class="home__logo">
      <h1>LI.LU</h1>
    </div>
    <div class="home__buttons">
      <% if current_user.present? %>
        <%= link_to 'Déconnexion', destroy_user_authentication_path, class: :home__button %>
      <% else %>
        <div>
          <%= link_to 'Connexion', new_user_authentication_path, class: :home__button %>
        </div>
        <div>
          <%= link_to 'Inscription', new_user_path, class: :home__button %>
        </div>
      <% end %>
    </div>
  </div>
</div>
