<main class="container container--full-screen wrapper wrapper--fill-height wrapper--small-padding wrapper--padding--both books-index__container">
  <h1 class="books-index__title">Choisis ton livre</h1>
  <div class="books-index__books">
    <ul class="books">
      <%= render @books, tag: :li, class_name: :books__item %>
    </ul>
  </div>
</main>

<script>
  (function() {
    var books = document.querySelectorAll('.book');

    var close = function(book) {
      if(!book.classList.contains('book--opened')) return;
      book.classList.remove('book--opened');
      book.classList.add('book--closed');
    };

    var open = function(book) {
      for(var i = 0; i < books.length; i++) close(books[i]);
      book.classList.remove('book--closed');
      book.classList.add('book--opened');
    };

    var toggle = function() {
      if(this.classList.contains('book--opened')) close(this);
      else open(this);
    };

    for(var i = 0; i < books.length; i++) books[i].addEventListener('click', toggle);
  })();
</script>
