<main class="books-show__wrapper">
  <div class="books-show__content">
    <h1 class="books-show__title"><%= @book.title %></h1>
    <h2 class="books-show__author"><%= @book.author %></h2>
    <div class="books-show__separator"></div>
    <div class="books-show__chapters"><span class="books-show__chapters__number"><%= @book.number_of_chapters %></span><br>chapitres</div>
  </div>
  <div class="next-step"></div>
</main>
