<main class="chapters-index__wrapper">
  <section class="chapters-index__section dreamy-sketch">
    <canvas class="dreamy-sketch__canvas"></canvas>
    <div class="dreamy-sketch__done">Terminé</div>
    <div class="order">
      <div class="order__page">
        <div class="order__content">
          <div class="order__container">
            <div class="order__instructions">
              <div class="order__wrapper">
                <div class="order__text" >
                  <h2 class="order__subtitle"><span>01</span><br>défis</h2>
                  <h3 class="order__title">Représente le nabot ventripotent</h3>
                </div>
              </div>
            </div>
            <div class="order__button">Prêt</div>
          </div>
        </div>
      </div>
    </div>
    <div class="dreamy-sketch__strip">
      <div class="dreamy-sketch__strip-1">
        <div class="dreamy-sketch__strip-2"></div>
      </div>
    </div>
  </section>

  <section class="chapters-index__section book">
    <div class="book__wrapper">
      <article class="book__page with-title">
        <h1 class="book__title">Chapitre 1 : Les trois fermiers</h1>
        <p class="book__paragraph">Dans la vallée, il y avait trois fermes. Les propriétaires de ces fermes avaient bien réussi. Ils étaient riches. Il étaient aussi méchants. Mais tous trois n’étaient ni plus méchant ni plus mesquins que d’autres. Ils s’appelaient Boggis, Bunce et Bean. Boggis élevait des poulets. Il avait des milliers de poulets. Il était horriblement gros. Cela, parce qu’il mangeait tous les jours au petit déjeuner, au déjeuner et au dîner, trois poulets cuits à la cocotte avec des croquettes. Bunce élevait des oies et des canards. Il avait des milliers d’oies et de canard. C’était une espèce de nabot ventripotent. Il était si petit que, dans le petit bain d’une piscine, il aurait eu de l’eau jusqu’au menton. Il se nourrissait de beignets et de foies d’oies. ll écrasait les foies et fourrait les beignets de cette bouillie infâme. Ce régime lui donnait mal à l’estomac et un caractère épouvantable. </p>
      </article>
    </div>
    <div class="book__next-chapter"></div>
  </section>

</main>
