.books-index
  &__container
    height: 100vh
    display: flex
    flex-direction: column
    overflow: hidden

  &__title
    height: 30px
    margin: 45px 0 55px 0
    text-align: center
    color: $white
    font-size: 30px
    font-weight: $font-bold
    flex-grow: 0
    flex-shrink: 0
    +uppercase($letter-spacing: .4em)

  &__books
    height: calc(100% - 130px)
    flex-grow: 0
    flex-shrink: 0
