.books-index
  &__container
    height: 100vh
    display: flex
    flex-direction: column
    overflow: hidden

  &__title
    height: 40px
    margin: 40px 0 50px 0
    text-align: center
    color: $white
    font-size: 40px
    font-weight: $font-bold
    flex-grow: 0
    flex-shrink: 0
    +uppercase

  &__books
    height: calc(100% - 130px)
    flex-grow: 0
    flex-shrink: 0
