.books-show
  &__content
    height: 100%
    padding: 30px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center


    +modifiers(background-color, $book-background-colors)
    +modifiers(color, $book-colors)

  &__icon
    width: 100px
    height: 100px
    margin-bottom: 60px

  &__title
    font-weight: 500
    font-size: 40px
    margin-bottom: 30px
    letter-spacing: 1px

  &__author
    font-weight: 300
    margin-bottom: 50px

  &__separator
    width: 100px
    height: 10px
    background: $white
    margin: 0 auto
    margin-bottom: 60px

  &__number-of-chapters
    font-size: 50px
    font-weight: $font-light
    text-align: center

    &::after
      content: 'chapitres'
      display: block
      font-size: 14px
      font-weight: $font-semi-bold

  .next-step
    position: absolute
    bottom: 0
    right: 0
    height : 0
    width : 0
    border-bottom : 150px solid $blue
    border-left : 150px solid transparent
