<div class="container container--full-screen container--centered">
  <div class="wrapper wrapper--small wrapper--padding--both">
    <h1 class="logo logo--centered logo--secondary authentications-new__logo">Lilu</h1>

    <div class="authentications-new__form">
      <%= render 'form', authentication: @authentication %>
    </div>
  </div>
</div>
