<div class="container container--full-screen container--centered">
  <h1 class="logo logo--circle authentications-new__logo">Lilu</h1>

  <div class="wrapper wrapper--small">
    <div class="authentications-new__form">
      <%= render 'form', authentication: @authentication %>
    </div>
  </div>
</div>
