.books
  width: 100%
  height: calc(100% + 30px)
  padding-bottom: 30px
  display: flex
  align-items: stretch
  justify-content: start
  overflow: scroll
  -webkit-overflow-scrolling: touch

  &__item
    flex-grow: 0
    flex-shrink: 0

    &:not(:last-of-type)
      margin-right: 10px
