.books
  width: 100%
  display: flex
  align-items: stretch
  justify-content: start
  overflow: scroll

  &__item
    flex-grow: 0
    flex-shrink: 0

    &:not(:last-of-type)
      margin-right: 10px
