$button-border-radius: 30px
$button-padding: 15px
$button-displays: (default: inline-block, block: block)
$button-font-sizes: (default: 12px, small: 10px, large: 14px)
$button-backgrounds: (default: $white, red: $red, blue: $blue)
$button-colors: (default: $blue, red: $white, blue: $white)
$button-border-radiuses: (default: $button-border-radius, left: $button-border-radius 0 0 $button-border-radius, right: 0 $button-border-radius $button-border-radius 0)

.button
  padding: $button-padding floor($button-padding*1.7)
  border: none
  outline: none
  font-weight: $font-bold
  text-align: center
  text-decoration: none
  +uppercase

  +modifiers(font-size, $button-font-sizes)
  +modifiers(color, $button-colors)
  +modifiers(background, $button-backgrounds)
  +modifiers(border-radius, $button-border-radiuses, rounded)
  +modifiers(display, $button-displays)
