.form
  &__field
    background: $white

  &__label
    color: $blue
    +uppercase

  &__input
    color: $dark-grey
    font-family: $font-family

  &__hint
    color: $grey

  &__error
    color: $red
