$notification-background-colors: (success: $dark-blue, info: $white, error: $red)
$notification-colors: (success: rgba($white, .7), info: rgba($blue, .7), error: rgba($white, .9))

.notification
  padding: 20px 15px
  text-align: center
  cursor: default

  +modifiers(background-color, $notification-background-colors)
  +modifiers(color, $notification-colors)

