.popup
  width: 80%
  height: 200px
  border: 5px solid $orange
  border-radius: 10px
  background: $white
  color: $blue
  padding: 40px
  line-height: 25px
  font-weight: 600
  font-size: 18px
  position: relative
  display: flex
  align-items: center
  &--close
    display: none
  &__content
    display: none
    &--current
      display: block
  &__button
    text-align: right
    color: $orange
    position: absolute
    bottom: 40px
    right: 40px
