.popup
  width: 80%
  height: 250px
  border: 5px solid $orange
  border-radius: 10px
  background: $white
  color: $blue
  padding: 40px
  line-height: 25px
  font-weight: 600
  font-size: 18px
  position: relative
  display: flex
  align-items: center
  &--close
    display: none
  &__content
    display: none
    &--current
      display: block
  &__action
    position: absolute
    bottom: 30px
    right: 40px
    cursor: pointer
  &__arrow
    text-align: right
    color: $orange
    width: 30px
    height: 30px
  &__hidden
    display: none
