.timeline
  width: 100%
  
  &__chapters
    display: flex
    justify-content: center
    align-items: center

  &__chapter
    height: 15px
    width: 20px
    background: $white
    margin-right: 5px
    flex: 1
