$wrapper-padding: 30px
$wrapper-paddings: (default: 0 $wrapper-padding, vertical: $wrapper-padding 0, both: $wrapper-padding)

=wrapper-width($width, $padding: null)
  @if $padding == null
    $padding: $wrapper-padding

  max-width: #{$width + 2*($padding)}


.wrapper
  width: 100%
  nox-sizing: border-box

  +modifiers(padding, $wrapper-paddings, padding)
